html {
  font-family: georgia, times, serif;
}

body {
  margin: 0 auto;
  max-width: 44em;
  line-height: 1.6;
  color: #444;
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

ul {
  list-style-type: none;
}

pre {
  overflow-x: scroll;
}

.tc {
  text-align: center;
}