:root {
  /* font families */
  --serif: Merriweather,'Book Antiqua',Georgia,'Century Schoolbook', serif;
  --sans-serif: 'Lato', sans-serif;

  /* Typography */
  --font-size-base: 1rem;
  --line-height-base: 1.5;

  /* colors */
  --body-bg: #fff;
  --body-color: #000;
  --link-color: #000;
  --code-bg: #f7f9fc;
  --code-border: #d2ddee;
  --callout-bg: #f7f7f7;
  --callout-color: #000;

  /* spacing */
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #212127;
    --body-color: #B4B4B4;
    --link-color: #B4B4B4;
    --code-bg: #2C2C31;
    --code-border: #44444c;
    --callout-bg: #2c2c31;
    --callout-color: #d2d2d2;
  }
}

body {
  background: var(--body-bg);
  color: var(--body-color);
  font-family: var(--serif);
  line-height: var(--line-height-base);
  font-size: var(--font-size-base);
}


h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-serif);
  font-weight: 700;
}

a {
  color: var(--link-color);
}

pre, p > code {
  border: 1px solid var(--code-border);
  border-radius: 2px;
  background: var(--code-bg);
}

pre {
  padding: var(--spacing-medium);
  overflow-x: auto;
}

p > code {
  border-radius: 2px;
  padding: var(--spacing-extra-small);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
}

.navbar-brand svg {
  height: 5rem;
  padding: var(--spacing-medium);
  stroke: var(--body-color);
  stroke-width: 0.5;
}


.navbar-brand a {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.navbar-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.navbar-nav a {
  text-decoration: none;
}

.navbar-nav li {
  padding-right: var(--spacing-medium);
  list-style-type: none;
}

.content {
  margin: auto;
  max-width: 64rem;
  min-height: 16rem;
  padding-left: var(--spacing-medium);
  padding-right: var(--spacing-medium);
}

.posts {
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
}

.posts-post {
  border-top: 1px solid #2C2C31;
  padding-top: var(--spacing-large);
  padding-bottom: var(--spacing-large);
  list-style-type: none;
  margin-bottom: var(--spacing-none);
}

.posts-post > a {
  text-decoration: none;
  font-family: var(--sans-serif);
  font-weight: 400;
  line-height: var(--line-height-base);
}

.posts-post > a:hover {
  text-decoration: underline;
}

.posts-postTime {
  float: right;
}

.footer {
  text-align: center;
}

.socialIcon {
  color: var(--body-color);
  height: 2rem;
  width: 2rem;
  padding-right: var(--spacing-small);
  padding-left: var(--spacing-small);
  display: inline-block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-large);
}

.pagination-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-medium);
}

.pagination-icon {
  width: var(--spacing-medium);
}

.anchor {
  margin-left: var(--spacing-small);
}

.anchor-link {
  visibility: hidden;
  width: 1rem;
  height: 1rem;
}

h1:hover .anchor-link, h2:hover .anchor-link, h3:hover .anchor-link, h4:hover .anchor-link {
  visibility: visible;
}

.callout {
  padding: var(--spacing-medium);
  border-left: var(--spacing-small) solid;
  color: var(--callout-color);
  background-color: var(--callout-bg);
  margin-top: var(--spacing-extra-large);
  margin-bottom: var(--spacing-extra-large);
}

.warning {
  border-color: #ff2d20;
}

.info {
  border-color: #8338ec;
}

.tc {
  text-align: center;
}

@media screen and (min-width: 30em) {
  .navbar-nav {
    justify-content: flex-end;
    padding-right: var(--spacing-medium);
  }
  .posts-postTime {
    display: initial;
    float: right;
  }
}