// font families
$serif: Merriweather,'Book Antiqua',Georgia,'Century Schoolbook', serif;
$sans-serif: 'Lato', sans-serif;

// Typography
$font-size-base: 1rem;
$line-height-base: 1.5;

// colors
$white: #fff;
$black: #000;

// spacing
$spacing-none: 0;
$spacing-extra-small: .25rem;
$spacing-small: .5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-extra-large: 4rem;
$spacing-extra-extra-large: 8rem;
$spacing-extra-extra-extra-large: 16rem;

body {
  background: $white;
  color: $black;
  font-family: $serif;
  line-height: $line-height-base;
  font-size: $font-size-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
  font-weight: 700;
}

a {
  color: $black;
}

pre, p > code {
  border: 1px solid #d2ddee;
  border-radius: 2px;
  background: #f7f9fc;
}

pre {
  padding: $spacing-medium;
  overflow-x: auto;
}

p > code {
  border-radius: 2px;
  padding: $spacing-extra-small;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar-brand {
  display: inline-flex;
  align-items: center;
}

.navbar-brand svg {
  height: 5rem;
  padding: $spacing-medium;
  stroke: #000;
  stroke-width: 0.5;
}


.navbar-brand a {
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

.navbar-nav ul {
  display: flex;
  flex-wrap: wrap;
}

.navbar-nav a {
  text-decoration: none;
}

.navbar-nav li {
  padding-right: $spacing-medium;
  list-style-type: none;
}

.content {
  margin: auto;
  max-width: 64rem;
  min-height: 16rem;
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
}

.posts {
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
}

.posts-post {
  border-top: 1px solid #2C2C31;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;
  list-style-type: none;
  margin-bottom: $spacing-none;
}

.posts-post > a {
  text-decoration: none;
  font-family: $sans-serif;
  font-weight: 400;
  line-height: $line-height-base;
}

.posts-post > a:hover {
  text-decoration: underline;
}

.posts-postTime {
  float: right;
}

.footer {
  text-align: center;
}

.socialIcon {
  color: $black;
  height: 2rem;
  width: 2rem;
  padding-right: $spacing-small;
  padding-left: $spacing-small;
  display: inline-block;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-large;
}

.pagination-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: $spacing-medium;
}

.pagination-icon {
  width: $spacing-medium;
}

.tc {
  text-align: center;
}

@media screen and (min-width: 30em) {
  .navbar-nav {
    justify-content: flex-end;
    padding-right: $spacing-medium;
  }
  .posts-postTime {
    display: initial;
    float: right;
  }
}
